[user]
	name = Olli Tyynelä
	email = olli.tyynela@focus.fi
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	autocrlf = input
	savecrlf = true
	editor = vim
	excludesfile = /Users/ollit/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lgb = "!git lg --branches"
	up = "!git remote update -p; git merge --ff-only @{u}"
	nomerge = merge --no-commit --no-ff
	ignore = !git update-index --assume-unchanged
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]
	safe-merge = merge --no-commit --no-ff
	safemerge = merge --no-commit --no-ff